/*Navbar*/
.navbar {
  overflow: hidden;
  background-color: #6BAEBA;
  margin-top: -8px;
  margin-bottom: 10px;
  margin-left: -10px;
  margin-right: -20px;
}

.navbar a {
  float: left;
  font-size: 1.5vw;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.5vw;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: aliceblue;
  color: #3F374D;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*COMPANIES BG:*/
body{
  font-family: 'Quicksand', sans-serif;
  color: #3F374D;
}

a{
  font-family: 'Quicksand', sans-serif;
  color: #3F374D;
}
.bg{
    background-color: aliceblue;
    border-radius: 30px;

    width: 95%;
    margin: 0 auto;

}



/*COMPANIES STYLE*/


.flexbox-container-1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.flexbox-item1{
    width: 30%;
    border-radius: 10px;
    border: 2px solid #e0deda;
    background-color: white ;
    margin-bottom: 5%;
    margin-top: 3%;

}

.flexbox-item-1{
    position: relative;
    min-height: 450px;
    align-items: center;
}

.img1{ 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    width: 100%;
    min-height: 200px;
}

.flexbox-item-1 img{
    width: 440px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    position: relative;
}

.flexbox-item1 button{
    display: inline;
    margin-top: 101%;
    position: relative;
    background-color: #bea5cc;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 2vw;
    border: none;
}

.flexbox-item1 button:hover {
    background-color: #a5ccb6;
  }

.flexbox-item2 button{
    display: inline;
    margin-top: 101%;
    position: relative;
    background-color: #bea5cc;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 2vw;
    border: none;
}

.flexbox-item2 button:hover {
    background-color: #a5ccb6;
  }

.flexbox-item3 button{
    display: inline;
    margin-top: 101%;
    position: relative;
    background-color: #bea5cc;
    padding: 8px 15px;
    border-radius: 15px;
    font-size: 2vw;
    border: none;
}

.flexbox-item3 button:hover {
    background-color: #a5ccb6;
  }
.flexbox-item-1 a{
color: #000;
text-decoration-line: none;
}


.flexbox-item-2{
    position: relative;
    min-height: 450px;
    align-items: center;
}


.flexbox-item-2 img{
    width: 440px;
    margin: 10px;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    position: relative;
}

.flexbox-item-2 a{
color: #000;
text-decoration-line: none;
}


.flexbox-item-3{
    position: relative;
    min-height: 450px;
    align-items: center;
}


.flexbox-item-3 img{
    width: 440px;
    margin: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    position: relative;
}


.flexbox-item-3 a{
color: #000;
text-decoration-line: none;
}

.flexbox-container-2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.flexbox-item2{
    width: 30%;
    margin-bottom: 5%;
    border-radius: 10%;
    border: 2px solid #e0deda;
    background-color: white ;

}
.flexbox-item-4{
    position: relative;
    min-height: 450px;
    align-items: center;
}

.img4{ 
    width: 450px;
    margin: 10px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /*width: 350px;*/
    min-height: 200px;
}

.flexbox-item-4 img{
    width: 440px;
    margin: 10px;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    position: relative;
}



.flexbox-item-4 a{
color: #000;
text-decoration-line: none;
}

.flexbox-item-5{
    position: relative;
    min-height: 450px;
    align-items: center;
}

.img5{ 
    width: 450px;
    margin: 10px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    /*width: 350px;*/
    min-height: 200px;
}

.flexbox-item-5 img{
    width: 440px;
    margin: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    position: relative;
}




.flexbox-item-5 a{
    color: #000;
    text-decoration-line: none;
}

.flexbox-item-6{
    position: relative;
    width: 30%;
    border-radius: 10px;
    border: 2px solid #e0deda;
    background-color: white ;
    margin-bottom: 5%;
    margin-top: 3%;
}

.img6{ 
    width: 450px;
    margin: 10px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    /*width: 350px;*/
    min-height: 200px;
}

.flexbox-item-6 img{
    width: 440px;
    margin: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    position: relative;
}



.flexbox-item-6 a{
color: #000;
text-decoration-line: none;
}


.flexbox-container-3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.flexbox-item3{
    width: 30%;
    border: 2px solid #e0deda;
    background-color: white ;
    border-radius: 15px;
    margin-bottom: 5%;
}


.flexbox-item-7{
    position: relative;
    width: 30%;
    border-radius: 15px;
    border: 2px solid #e0deda;
    background-color: white ;
    margin-bottom: 5%;
}

.img7{ 
    width: 450px;
    margin: 10px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    /*width: 350px;*/
    min-height: 200px;
}




.flexbox-item-7 a{
color: #000;
text-decoration-line: none;
}


.flexbox-item-8{
    position: relative;
    min-height: 450px;
    align-items: center;
}

.img8{ 
    width: 450px;
    margin: 10px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    /*width: 350px;*/
    min-height: 200px;
}

.flexbox-item-8 img{
    width: 440px;
    margin: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    position: relative;
}



.flexbox-item-8 a{
color: #000;
text-decoration-line: none;
}

.flexbox-item-9{
    position: relative;
    min-height: 450px;
    align-items: center;
}

.img9{ 
    width: 450px;
    margin-bottom: 10px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    /*width: 350px;*/
    min-height: 200px;
}

.flexbox-item-9 img{
    width: 440px;
    margin: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    position: relative;
}

.flexbox-item-9 a{
color: #000;
text-decoration-line: none;
}


.image-logo{
  width: 100%;
  overflow: hidden;
}

#clif{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    overflow: hidden;
    min-height: 200px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #6BAEBA;
  opacity: 85%;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 1s ease;
  border-radius: 15px;
}

.flexbox-item-1:hover .overlay1 {
  height: 85%;
  margin-bottom: 3vw;
}

.flexbox-item-2:hover .overlay2 {
  height: 85%;
  margin-bottom: 3vw;
}

.flexbox-item-3:hover .overlay3 {
  height: 85%;
  margin-bottom: 3vw;
}

.flexbox-item-4:hover .overlay4 {
  height: 85%;
  margin-bottom: 3vw;
}

.flexbox-item-5:hover .overlay5 {
  height: 85%;
  margin-bottom: 3vw;
}

.flexbox-item-6:hover .overlay6 {
  height: 85%;
  margin-bottom: 3vw;
}

.flexbox-item-7:hover .overlay7 {
  height: 85%;
  margin-bottom: 3vw;
}

.flexbox-item-8:hover .overlay8 {
  height: 85%;
  margin-bottom: 3vw;
}

.flexbox-item-9:hover .overlay9 {
  height: 85%;
  margin-bottom: 3vw;
}


.text {
  color: white;
  font-size: 1.5vw;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  display: inline;
  font-size: 4vw;
  margin-bottom: 10px; 
}

.img-2{
  height: 300px;
}

html {
  scroll-behavior: smooth;
}

